@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody id="productContainer">
        <!-- Server-side fallback için buraya render edilecek -->
    </tbody>
</table>

<!--Pagination Links -->
<div id="pagination">
    @* Server-side fallbacks: kullanıcıda JS yoksa linkler buraya gelir.*@
    @for (int i = 1; i <= (int)ViewBag.TotalPages; i++)
    {
        <a asp-action="GetProducts" asp-controller="Product" asp-route-page="@i">
            @i
        </a>
        @*<a href="Product/GetProducts?page=@i" data-page="@i">@i</a>*@
    }
</div>
@*
JS açıksa:

fetch ile /GetProducts?page=x çağrılır

<tbody> güncellenir

Pagination linki aktif renk alır

Sayfa yenilenmez

JS kapalıysa:

<a asp-action="Index" ...> linkleri ile klasik server-side paging çalışır

Sayfa yenilenir, controller yeni sayfayı render eder

*@
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const container = document.getElementById("productContainer");
        const pagination = document.getElementById("pagination");

        let controller; 

        function loadPage(page) {
        if (controller) {
            controller.abort(); 
        }

        controller = new AbortController();

        fetch('/Product/GetProducts?page=${page}',
            { signal: controller.signal })
        .then(r => r.text())
        .then(html => {
            container.innerHTML = html;
        })
        .catch(err => {
            if (err.name !== "AbortError")
                console.error(err);
        }); 
        }

        pagination?.querySelectorAll("a").forEach(link => {
             link.addEventListener("click", e => {
                  e.preventDefault();

                  const page = link.dataset.page;
                  loadPage(page);
             });
        });

        loadPage(1);
    
    });

</script>
<style>
    #paginationLinks a.active {
        font-weight: bold;
        color: red;
    }
</style>